@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.weather {
    animation: fadein 2s;
    margin-top:5%;
}

.header {
    text-align: left;
    background: whitesmoke;
    margin: auto;
    color:rgb(65, 63, 63);
    padding:0.6% 1% 1% 1%;
    margin-bottom: 1%;
    height:50px;
}